html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
@font-face {
  font-family: "Nexa Trial";
  font-style: normal;
  font-weight: 400;
  src: local("Nexa Trial"),url(../fonts/nexa-font/nexa-regular.woff) format("woff"),url(../fonts/nexa-font/nexa-regular.otf) format("otf"),url(../fonts/nexa-font/nexa-regular.ttf) format("ttf");
  font-display: swap
}
@font-face {
  font-family: "Nexa Trial";
  font-style: normal;
  font-weight: 700;
  src: local("Nexa Trial"),url(../fonts/nexa-font/nexa-bold.woff) format("woff"),url(../fonts/nexa-font/nexa-bold.otf) format("otf"),url(../fonts/nexa-font/nexa-bold.ttf) format("ttf");
  font-display: swap
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova"),url(../fonts/proxima-nova/proxima-nova.woff) format("woff"),url(../fonts/proxima-nova/proxima-nova.otf) format("otf"),url(../fonts/proxima-nova/proxima-nova.ttf) format("ttf");
  font-display: swap
}
.svg-image-arrow-blue,
.svg-image-arrow-down,
.svg-image-arrow-small-blue,
.svg-image-arrow45,
.svg-image-footer-logo,
.svg-image-header-logo,
.svg-image-header-logo-black,
.svg-image-quotes,
.svg-image-star {
  background: url(../images/sprites/main.svg) no-repeat
}
.svg-image-arrow-blue {
  background-position: 66.1764705882% 89.7727272727%;
  background-size: 1800% auto;
  width: 40px
}
.svg-image-arrow-blue:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 97.5%
}
.svg-image-arrow-blue-dims {
  width: 40px;
  height: 39px
}
.svg-image-arrow-down {
  background-position: 73.5042735043% 84.0425531915%;
  background-size: 4000% auto;
  width: 18px
}
.svg-image-arrow-down:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 116.6666666667%
}
.svg-image-arrow-down-dims {
  width: 18px;
  height: 21px
}
.svg-image-arrow-small-blue {
  background-position: 78.2670454545% 82.5783972125%;
  background-size: 4500% auto;
  width: 16px
}
.svg-image-arrow-small-blue:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-image-arrow-small-blue-dims {
  width: 16px;
  height: 16px
}
.svg-image-arrow45 {
  background-position: 75.960170697% 82.8671328671%;
  background-size: 4235.2941176471% auto;
  width: 17px
}
.svg-image-arrow45:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-image-arrow45-dims {
  width: 17px;
  height: 17px
}
.svg-image-footer-logo {
  background-position: 0 100%;
  background-size: 360% auto;
  width: 200px
}
.svg-image-footer-logo:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 33%
}
.svg-image-footer-logo-dims {
  width: 200px;
  height: 66px
}
.svg-image-header-logo {
  background-position: 36.7647058824% 99.1631799163%;
  background-size: 409.0909090909% auto;
  width: 176px
}
.svg-image-header-logo:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 36.3636363636%
}
.svg-image-header-logo-dims {
  width: 176px;
  height: 64px
}
.svg-image-header-logo-black {
  background-position: 0 0;
  background-size: 100% auto;
  width: 720px
}
.svg-image-header-logo-black:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 32.9166666667%
}
.svg-image-header-logo-black-dims {
  width: 720px;
  height: 237px
}
.svg-image-quotes {
  background-position: 58.2043343653% 99.1631799163%;
  background-size: 972.972972973% auto;
  width: 74px
}
.svg-image-quotes:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 86.4864864865%
}
.svg-image-quotes-dims {
  width: 74px;
  height: 64px
}
.svg-image-star {
  background-position: 70.6051873199% 84.9462365591%;
  background-size: 2769.2307692308% auto;
  width: 26px
}
.svg-image-star:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 92.3076923077%
}
.svg-image-star-dims {
  width: 26px;
  height: 24px
}
.image-by-height {
  width: auto
}
.image-by-height:before {
  content: none
}
.image-by-height > svg {
  height: inherit
}
.image-by-height > img {
  height: inherit!important;
  vertical-align: top!important;
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
  max-height: none!important;
  border: 0!important;
  opacity: 0!important
}
* {
  box-sizing: border-box
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  font-family: Helvetica,Arial,sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.container {
  width: 100%;
  max-width: 850px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 40px
}
:root {
  --color-dark: #0c2742;
  --color-blue: #1b75bc;
  --color-light-blue: #eef2f5;
  --color-white: #fff;
  --color-yellow: #f9ee8e;
  --color-green: #02ad23
}
* {
  padding: 0;
  margin: 0
}
body.lock {
  overflow: hidden
}
.header {
  height: 90px;
  font-family: Oswald,sans-serif;
  transition: all .2s linear
}
.header .container {
  max-width: 1400px
}
.fixed .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--color-white)
}
.header__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.svg-image-header-logo,
.svg-image-header-logo-black {
  width: 174px;
  height: auto
}
.svg-image-header-logo-black {
  display: none
}
.fixed .header .svg-image-header-logo-black {
  display: block
}
.fixed .header .svg-image-header-logo {
  display: none
}
.fixed .header .header__link {
  color: var(--color-black)
}
.fixed .header .header__link.active.active {
  color: var(--color-white)
}
.fixed .header .header__appply {
  color: var(--color-white);
  background-color: var(--color-blue)
}
.header__navbar {
  height: 90px
}
.header__navbar .header__list {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none
}
.header__link {
  height: 100%;
  padding: 28px 11px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: var(--color-white)
}
.header__link:last-child {
  margin: 0
}
.header__link.active {
  color: var(--color-white);
  background-color: var(--color-blue)
}
.header__link a {
  display: block;
  padding: 5px 10px;
  cursor: pointer
}
.header__appply {
  padding: 0;
  height: 56px;
  color: var(--color-blue);
  background-color: var(--color-white);
  border-radius: 3px
}
.header__appply a {
  display: block;
  padding: 16px 24px
}
.menu__burger {
  display: none;
  position: relative;
  width: 21px;
  height: 16px;
  cursor: pointer;
  z-index: 150;
  position: fixed;
  top: 28px;
  right: 35px;
  z-index: 12000
}
.menu__burger span {
  position: absolute;
  background-color: var(--color-white);
  left: 0;
  width: 100%;
  height: 2px;
  top: 7px;
  border-radius: 100px;
  transition: all .2s linear
}
.menu__burger:after,
.menu__burger:before {
  content: "";
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 100px;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear,-webkit-transform .2s linear
}
.fixed .menu__burger span,
.fixed .menu__burger:after,
.fixed .menu__burger:before {
  background-color: var(--color-dark)
}
.fixed .menu__burger.active span,
.fixed .menu__burger.active:after,
.fixed .menu__burger.active:before {
  background-color: var(--color-white)
}
.menu__burger:before {
  top: 0
}
.menu__burger:after {
  bottom: 0
}
.menu__burger.active:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px
}
.menu__burger.active:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 7px
}
.menu__burger.active span {
  -webkit-transform: scale(0);
  transform: scale(0)
}
.burger__navbar {
  display: none;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 11000;
  width: 70%;
  height: 100%;
  padding: 20px;
  background-color: var(--color-white);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all .3s linear
}
.burger__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear
}
.burger__list {
  width: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0
}
.burger__link {
  padding: 16px 0;
  font-size: 20px;
  cursor: pointer
}
.burger__appply {
  padding: 0;
  height: 56px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 3px;
  cursor: pointer
}
.burger__appply a {
  display: block;
  padding: 16px 24px
}
@media (max-width:991px) {
  .header {
    height: 60px;
    padding-top: 8px
  }
  .burger__navbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
  .svg-image-header-logo,
  .svg-image-header-logo-black {
    width: 144px;
    height: auto
  }
  .header__navbar {
    display: none
  }
  .menu__burger {
    display: block
  }
  .burger__navbar.active {
    -webkit-transform: translateX(142%);
    transform: translateX(142%)
  }
  .burger__overlay.active {
    visibility: visible;
    opacity: 1
  }
}
@media (max-width:767px) {
  .burger__navbar {
    display: block
  }
  .burger__list {
    width: 100%;
    margin-bottom: 20px
  }
  .burger__appply {
    width: 150px;
    text-align: center
  }
}
.first {
  position: relative;
  z-index: 20;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 900px
}
.first.fixed {
  padding-top: 90px
}
.first__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden
}
.first__bg video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%
}
@media (max-width:991px) {
  .first__bg video {
    -webkit-transform: translate(-30%,0);
    transform: translate(-30%,0)
  }
}
@media (max-width:575px) {
  .first {
    min-height: 740px;
    background-color: rgba(27,117,188,.7)
  }
}
.intro {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.intro .container {
  max-width: 1328px
}
.intro__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 170px 0 100px 27px
}
.intro__title {
  font-family: Oswald,sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 120px;
  line-height: 100px;
  letter-spacing: .4px;
  color: var(--color-white);
  text-shadow: 0 4px 10px rgba(0,0,0,.2)
}
.intro__title p {
  margin: 0
}
.intro__title .intro__static {
  margin-bottom: 24px
}
.intro__title .intro__frame {
  height: 120px;
  overflow: hidden
}
.intro__title .intro__dynamic {
  color: var(--color-yellow);
  -webkit-transform: translateY(120px);
  transform: translateY(120px);
  opacity: 0;
  -webkit-animation: TextSlider 10s linear .5s infinite;
  animation: TextSlider 10s linear .5s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}
.intro__title .intro__dynamic p {
  margin-bottom: 20px
}
.intro__title .intro__dynamic p:last-child {
  margin-bottom: 0
}
.intro__info {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}
.intro__about {
  max-width: 596px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: .4px;
  color: rgba(255,255,255,.8)
}
.intro__scroll {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: Rotate .5s linear .5s;
  animation: Rotate .5s linear .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0
}
.intro__scroll p {
  margin-left: 12px;
  font-family: Oswald,sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: rgba(255,255,255,.8)
}
@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate 90deg;
    transform: rotate 90deg;
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1
  }
}
@keyframes Rotate {
  0% {
    -webkit-transform: rotate 90deg;
    transform: rotate 90deg;
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1
  }
}
@-webkit-keyframes TextSlider {
  0% {
    opacity: 0;
    -webkit-transform: translateY(120px);
    transform: translateY(120px)
  }
  2% {
    opacity: 1
  }
  8% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  16% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  24% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px)
  }
  32% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px)
  }
  40% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px)
  }
  98% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px);
    opacity: 0
  }
}
@keyframes TextSlider {
  0% {
    opacity: 0;
    -webkit-transform: translateY(120px);
    transform: translateY(120px)
  }
  2% {
    opacity: 1
  }
  8% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  16% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  24% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px)
  }
  32% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px)
  }
  40% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px)
  }
  98% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px);
    opacity: 0
  }
}
@media (max-width:991px) {
  .intro__title {
    font-size: 80px;
    line-height: 92px
  }
  .intro__title .intro__static {
    margin-bottom: 10px
  }
  .intro__about {
    max-width: 400px
  }
}
@media (max-width:767px) {
  .intro__about {
    margin: 0;
    max-width: 320px;
    font-size: 24px
  }
  .svg-image-arrow-down {
    width: 28px
  }
}
@media (max-width:575px) {
  .intro .container {
    width: 100%;
    padding: 10px
  }
  .intro__wrapper {
    padding: 0
  }
  .intro__info {
    display: block
  }
  .intro__about {
    width: 100%;
    margin-bottom: 50px;
    font-size: 20px
  }
  .intro__title {
    font-size: 50px
  }
  .intro__title .intro__static {
    margin: 0
  }
}
.main {
  position: relative;
  overflow: hidden
}
.main .container {
  max-width: 1660px;
  padding: 0 30px
}
.svg-image-pathnew {
  position: absolute;
  top: 16px;
  left: 19%;
  z-index: -1
}
body {
  overflow-x: hidden;
  background-color: var(--color-light-blue)
}
.about {
  min-height: 900px;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.about__container {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2,100vw);
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end
}
.about__wrapper {
  width: 100vw;
  max-width: 1600px;
  display: grid;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-template-areas: "title info" "description info";
  grid-template-columns: 41.66% 48.89%;
  gap: 116px 9.45%;
  padding: 108px 0 238px 14%
}
.about__title {
  justify-self: end;
  max-width: 482px;
  grid-area: title;
  margin-left: 20.75%;
  font-family: Oswald,sans-serif;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: .4px;
  color: var(--color-dark)
}
.about__title span {
  color: var(--color-blue)
}
.about__description {
  max-width: 408px;
  grid-area: description;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: .2px;
  color: var(--color-dark)
}
.about__info {
  grid-area: info;
  justify-self: end;
  align-self: end
}
.about__img img {
  display: block;
  width: 100%;
  height: auto
}
.about__more {
  position: relative
}
.about__square {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 174px;
  height: 174px;
  background-color: var(--color-blue);
  border: 1px solid #fff;
  -webkit-transform: rotate(45deg) translate(-123px,0);
  transform: rotate(45deg) translate(-123px,0);
  -webkit-filter: drop-shadow(4px 4px 40px rgba(27, 117, 188, .4));
  filter: drop-shadow(4px 4px 40px rgba(27, 117, 188, .4))
}
.about__text {
  position: absolute;
  top: -30px;
  left: -38px;
  z-index: 2;
  width: 80px;
  height: 68px;
  text-align: center
}
.about__text p {
  margin-bottom: 4px;
  font-family: Oswald,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: var(--color-white)
}
.about__text span {
  display: inline-block
}
.about__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  cursor: pointer
}
.about__wrapper:last-child {
  display: grid;
  grid-template-areas: "info title " "info description";
  grid-template-columns: 46.75% 48.81%;
  gap: 73px 4.44%;
  margin: 0;
  padding: 157px 0 238px 208px
}
.about__wrapper:last-child .about__title {
  max-width: 506px;
  margin-left: 0
}
.about__wrapper:last-child .about__description {
  justify-self: end;
  max-width: 480px;
  margin-left: 102px
}
.about__wrapper:last-child .about__img {
  max-width: 540px
}
.about__wrapper:last-child .about__square {
  left: 100%
}
.about__wrapper:last-child .about__text {
  left: auto;
  right: -38px
}
@media (max-width:1599px) {
  .about__wrapper {
    padding: 0 0 0 14%
  }
  .about__wrapper:last-child {
    padding: 0 0 0 10%
  }
  .about__title {
    font-size: 70px;
    line-height: 80px
  }
  .about__description {
    font-size: 24px;
    line-height: 34px
  }
  .about__square {
    width: 150px;
    height: 150px;
    -webkit-transform: rotate(45deg) translate(-106px,0);
    transform: rotate(45deg) translate(-106px,0)
  }
}
@media (max-width:1199px) {
  .about__wrapper {
    padding: 0 0 0 14%
  }
  .about__wrapper:last-child {
    gap: 60px 4.44%
  }
  .about__title {
    font-size: 65px;
    line-height: 70px
  }
  .about__img img {
    width: 400px
  }
}
@media (max-width:991px) {
  .about__wrapper:first-child {
    gap: 86px 9.45%
  }
  .about__title {
    font-size: 52px;
    line-height: 60px
  }
  .about__img img {
    width: 380px
  }
  .about__description {
    max-width: 79%;
    font-size: 18px;
    line-height: 24px
  }
  .about__wrapper:last-child .about__description {
    margin-left: 72px
  }
  .about__square {
    width: 120px;
    height: 120px;
    -webkit-transform: rotate(45deg) translate(-85px,0);
    transform: rotate(45deg) translate(-85px,0)
  }
}
@media (max-width:767px) {
  .about__wrapper:first-child,
  .about__wrapper:last-child {
    grid-template-areas: "title" "description" "info";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 96px 244px;
    gap: 38px 0;
    align-self: flex-end
  }
  .about__wrapper:first-child .about__title,
  .about__wrapper:last-child .about__title {
    margin: 0;
    justify-self: start
  }
  .about__wrapper:first-child .about__description,
  .about__wrapper:last-child .about__description {
    margin: 0;
    justify-self: start;
    max-width: 80%
  }
  .about__wrapper:first-child .about__info,
  .about__wrapper:last-child .about__info {
    justify-self: center
  }
  .about__wrapper:first-child .about__img,
  .about__wrapper:last-child .about__img {
    width: 380px;
    height: 244px
  }
  .about__wrapper:first-child .about__img img,
  .about__wrapper:last-child .about__img img {
    width: 380px;
    height: 244px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px
  }
  .about__wrapper:first-child .about__info {
    justify-self: center
  }
  .about__wrapper:last-child .about__info {
    justify-self: start
  }
}
@media (max-width:575px) {
  .about__wrapper:first-child,
  .about__wrapper:last-child {
    grid-template-rows: 80px 120px 187px;
    gap: 15px 0;
    padding: 0 15px
  }
  .about__wrapper:first-child .about__title,
  .about__wrapper:last-child .about__title {
    font-size: 34px;
    line-height: 40px
  }
  .about__wrapper:first-child .about__description,
  .about__wrapper:last-child .about__description {
    max-width: 100%;
    font-size: 15px;
    line-height: 22px
  }
  .about__wrapper:first-child .about__info,
  .about__wrapper:last-child .about__info {
    width: 100%;
    max-width: 380px
  }
  .about__wrapper:first-child .about__img,
  .about__wrapper:last-child .about__img {
    width: 100%;
    height: 187px
  }
  .about__wrapper:first-child .about__img img,
  .about__wrapper:last-child .about__img img {
    height: 187px;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover
  }
  .about__wrapper:last-child {
    padding: 0 15px 0 30px
  }
  .about__more {
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
  }
  .about__wrapper:last-child .about__square {
    left: 0
  }
  .about__wrapper:last-child .about__text {
    left: -40px
  }
}
.build {
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: 900px;
  padding-top: 90px
}
.build .container {
  max-width: 1660px;
  padding: 0 30px
}
.build__wrapper {
  display: grid;
  grid-template-areas: "buildFirst buildLast";
  grid-template-columns: repeat(2,1fr);
  gap: 0 12.09%;
  padding: 0 19.06% 0 12.69%
}
.build__info:first-child {
  grid-area: buildFirst;
  padding-top: 220px
}
.build__info:last-child {
  grid-area: buildLast;
  padding-top: 100px
}
.build__hot {
  width: 128px;
  height: 28px;
  background-color: #fff;
  border-radius: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 24px
}
.build__hot img {
  width: 12px;
  height: 12px
}
.build__hot p {
  font-family: Poppins,sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: .2px;
  text-transform: uppercase;
  color: var(--color-dark)
}
.build__list {
  padding: 0;
  margin: 0;
  list-style-type: none
}
.build__item {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 20px 0 5px;
  border-bottom: 1px dashed rgba(255,255,255,.4);
  transition: all .2s linear
}
.build__item:hover {
  background-color: var(--color-white)
}
.build__item:hover .build__position {
  color: var(--color-dark)
}
.build__item:hover .build__place {
  color: var(--color-dark)
}
.build__item:hover .svg-image-arrow-blue {
  opacity: 1
}
.build__description {
  width: 73%
}
.build__position {
  margin-bottom: 6px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: .2px;
  color: var(--color-white);
  transition: all .2s linear
}
.build__place {
  padding-bottom: 20px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: rgba(255,255,255,.8);
  transition: all .2s linear
}
.build__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer
}
.svg-image-arrow-blue {
  opacity: 0;
  transition: all .2s linear
}
.build__title {
  margin-bottom: 40px;
  font-family: Oswald,sans-serif;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: .4px;
  color: var(--color-white)
}
.build__titleSmall {
  visibility: hidden;
  margin-bottom: 40px;
  font-family: Oswald,sans-serif;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: .4px;
  color: var(--color-white);
  width: 0;
  height: 0;
  font-size: 0
}
.build__text {
  margin-bottom: 41px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: .2px;
  color: var(--color-white)
}
.build__more {
  position: relative;
  max-width: 170px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all .2s linear
}
.build__more:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px)
}
.build__more span {
  display: inline-block
}
.build__more p {
  font-family: Oswald,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: var(--color-white)
}
.build__more a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer
}
@media (max-width:1599px) {
  .build__title {
    font-size: 80px;
    line-height: 80px
  }
  .build__wrapper {
    padding: 0 150px 0 100px
  }
  .build__info:last-child {
    padding-top: 30px
  }
  .build__info:first-child {
    padding-top: 120px
  }
  .build__text {
    font-size: 18px;
    line-height: 30px
  }
  .build__position {
    font-size: 18px;
    line-height: 24px
  }
  .svg-image-arrow-blue {
    width: 20px
  }
  .build__description {
    width: 80%
  }
}
@media (max-width:1199px) {
  .build {
    min-height: 700px;
    padding-top: 80px
  }
  .build__wrapper {
    padding: 0 100px 0 50px;
    gap: 0 8%
  }
  .build__title {
    max-width: 500px;
    font-size: 65px;
    line-height: 70px
  }
  .build__text {
    line-height: 28px
  }
  .build__position {
    font-size: 16px;
    line-height: 22px
  }
}
@media (max-width:991px) {
  .build__title {
    font-size: 55px;
    line-height: 60px
  }
  .build__wrapper {
    padding: 0
  }
  .build__description {
    width: 88%
  }
}
@media (max-width:767px) {
  .build {
    height: auto;
    padding-bottom: 40px
  }
  .build__wrapper {
    grid-template-areas: "buildLast" "buildFirst";
    grid-template-columns: 1fr;
    gap: 20px 0;
    padding: 0 30px
  }
  .build__title {
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0
  }
  .build__titleSmall {
    visibility: visible;
    width: auto;
    max-width: 500px;
    height: auto;
    font-size: 65px;
    line-height: 70px
  }
  .build__info:first-child {
    padding-top: 40px
  }
  .build__info:last-child {
    padding: 0
  }
}
@media (max-width:575px) {
  .build__wrapper {
    padding: 0
  }
  .build__titleSmall {
    max-width: 250px;
    font-size: 32px;
    line-height: 40px
  }
}
.company {
  position: relative;
  z-index: 2
}
.news {
  min-height: 900px;
  padding-top: 150px;
  background-color: #fff;
  overflow: hidden
}
.news .container {
  position: relative;
  z-index: 20;
  max-width: 1660px;
  padding: 0 30px
}
.news__bg {
  position: absolute;
  top: 22%;
  left: 66.19%;
  z-index: 10;
  width: 17.75vw;
  height: 17.75vw;
  border-radius: 50%;
  background: #1e90ff;
  -webkit-filter: blur(200px);
  filter: blur(200px)
}
.news__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 12.69% 65px
}
.news__title {
  font-family: Oswald,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: .4px;
  color: var(--color-dark)
}
.news__more {
  position: relative;
  min-width: 145px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 22px
}
.news__more span {
  display: inline-block
}
.news__more p {
  font-family: Oswald,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: var(--color-blue)
}
.news__more a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  cursor: pointer
}
.news__slider {
  position: relative;
  z-index: 5;
  min-width: 1480px;
  margin-left: 12.69%;
  overflow: hidden
}
.news__wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.news__item {
  width: 460px;
  height: 429px
}
.news__img {
  width: 100%;
  height: 329px;
  margin-bottom: 24px
}
.news__img img {
  display: block;
  width: 460px;
  height: 329px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover
}
.news__description {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}
.news__description span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 3px
}
.news__description p {
  margin-left: 22px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: .2px;
  color: var(--color-dark)
}
.news__description a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer
}
@media (max-width:1199px) {
  .news__title {
    font-size: 65px;
    line-height: 70px
  }
  .news__description p {
    font-size: 24px;
    line-height: 34px
  }
}
@media (max-width:991px) {
  .news__title {
    font-size: 52px;
    line-height: 60px
  }
  .news__description p {
    font-size: 18px;
    line-height: 24px
  }
  .news__slider {
    min-width: 1120px
  }
  .news__item {
    width: 460px;
    min-height: 336px
  }
  .news__img {
    width: 100%;
    height: 258px;
    margin-bottom: 24px
  }
  .news__img img {
    display: block;
    width: 100%;
    height: 258px;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover
  }
}
@media (max-width:767px) {
  .news {
    min-height: 700px;
    padding-top: 110px
  }
}
@media (max-width:575px) {
  .news {
    padding-top: 80px
  }
  .news__header {
    display: block;
    margin: 0
  }
  .news__title {
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 40px
  }
  .news__more {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .news__more p {
    margin-right: 12px
  }
  .news__slider {
    min-width: auto;
    width: 100%;
    margin: 0
  }
}
.testimonials {
  position: relative;
  background-color: var(--color-light-blue)
}
.testimonials .container {
  max-width: 1660px;
  padding: 0 30px
}
.testimonials__block {
  position: relative;
  z-index: 3;
  min-height: 900px
}
.testimonials__title {
  position: absolute;
  left: 50%;
  bottom: 80px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "Nexa Trial",sans-serif;
  font-weight: 700;
  font-size: 197.547px;
  line-height: 198px;
  letter-spacing: .790188px;
  color: var(--color-blue);
  opacity: .05
}
.svg-image-quotes {
  position: absolute;
  top: 100px;
  left: 12.69%
}
.testimonials__container {
  position: relative;
  z-index: 15;
  max-width: 1194px;
  padding: 131px 27px 0;
  margin: 0 auto
}
.testimonials__slider {
  width: 585px;
  margin-bottom: 64px;
  overflow: hidden
}
.testimonials__item {
  font-family: Poppins,sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: .2px;
  color: var(--color-dark)
}
.testimonials__navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.testimonials__navItem {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 49px;
  cursor: pointer
}
.testimonials__navItem:hover .testimonials__next,
.testimonials__navItem:hover .testimonials__prev {
  background-color: var(--color-blue)
}
.testimonials__navItem:hover path {
  stroke: var(--color-white)
}
.testimonials__navItem svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.testimonials__navItem svg path {
  transition: all .2s linear
}
.testimonials__next,
.testimonials__prev {
  width: 71px;
  height: 71px;
  background: rgba(27,117,188,.1);
  border: 2px solid var(--color-blue);
  -webkit-transform: rotate(45deg) translateX(33%);
  transform: rotate(45deg) translateX(33%);
  transition: all .2s linear
}
.testimonials__info {
  position: absolute;
  top: 0;
  right: 360px;
  z-index: 10;
  padding-top: 100px
}
.news-pathnew {
  position: absolute;
  top: -653px;
  left: -20px
}
.testimonials__range {
  position: relative;
  z-index: 5;
  width: 172px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 14px;
  -webkit-transform: translateX(150px);
  transform: translateX(150px)
}
.testimonials__range img {
  margin-right: 13px
}
.testimonials__range img:last-child {
  margin-right: 0
}
.testimonials__value {
  position: relative;
  z-index: 5;
  font-family: "Nexa Trial",sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 121px;
  letter-spacing: .4px;
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  margin-bottom: 31px;
  color: var(--color-white)
}
.testimonials__name {
  position: relative;
  z-index: 5;
  margin-bottom: 31px;
  font-family: "Nexa Trial",sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: .4px;
  color: var(--color-white)
}
.testimonials__add {
  position: relative;
  z-index: 5;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.testimonials__zero {
  width: 70px;
  height: 99px;
  margin-bottom: 21px
}
.testimonials__zero img {
  display: block;
  width: 100%;
  height: auto
}
.testimonials__view {
  position: relative;
  -webkit-transform: translate(60px,38px);
  transform: translate(60px,38px)
}
.testimonials__square {
  width: 90px;
  height: 90px;
  background: #02ad23;
  border: 2px solid #fff;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(45deg) translate(-8%,5%);
  transform: rotate(45deg) translate(-8%,5%);
  -webkit-filter: drop-shadow(4px 4px 40px rgba(27, 117, 188, .4));
  filter: drop-shadow(4px 4px 40px rgba(27, 117, 188, .4))
}
.testimonials__text {
  position: absolute;
  top: 24px;
  left: 16px
}
.testimonials__text p {
  font-family: Poppins,sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-white)
}
.testimonials__text span {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto
}
@media (max-width:1310px) {
  .testimonials__info {
    left: 52%;
    width: 375px
  }
}
@media (max-width:1199px) {
  .svg-image-quotes {
    left: 0
  }
  .testimonials__item {
    font-size: 28px;
    line-height: 40px
  }
  .testimonials__title {
    font-size: 160px
  }
}
@media (max-width:991px) {
  .testimonials__title {
    font-size: 110px
  }
  .testimonials__slider {
    width: 480px
  }
  .testimonials__item {
    font-size: 24px;
    line-height: 36px
  }
}
@media (max-width:767px) {
  .testimonials {
    min-height: 700px
  }
  .testimonials__info {
    left: 220px;
    top: 240px;
    right: auto;
    width: 375px
  }
  .testimonials__title {
    font-size: 90px
  }
}
@media (max-width:575px) {
  .testimonials__container {
    padding: 100px 0 0 0
  }
  .testimonials__slider {
    width: 100%;
    min-width: 100%;
    margin-bottom: 44px
  }
  .testimonials__item {
    font-size: 18px;
    line-height: 24px
  }
  .svg-image-quotes {
    top: 70px
  }
  .testimonials__title {
    font-size: 50px;
    bottom: -30px
  }
  .testimonials__info {
    left: 20px
  }
}
.footer {
  position: relative;
  z-index: 2;
  padding: 100px 0 50px;
  color: var(--color-white);
  background: var(--color-blue)
}
.footer .container {
  max-width: 1254px;
  padding: 0 30px
}
.footer__bg {
  padding: auto;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 36.31%;
  height: auto
}
.footer__bg img {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 36.31%;
  z-index: -1;
  height: auto
}
.footer__wrapper {
  display: grid;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-template-areas: "info links follow" "awards awards awards" "legal legal legal";
  grid-template-columns: 364px 262px 262px
}
.footer__info {
  grid-area: info;
  margin-bottom: 72px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px
}
.footer__logo {
  margin-bottom: 40px
}
.footer__logo .svg-image-footer-logo {
  display: inline-block
}
.footer__local {
  max-width: 245px;
  margin-bottom: 60px
}
.footer__adress,
.footer__email,
.footer__phone {
  margin-bottom: 12px
}
.footer__adress a,
.footer__email a,
.footer__phone a {
  color: inherit;
  text-decoration: none;
  cursor: pointer
}
.footer__map {
  width: 276px;
  height: 152px;
  border: 4px solid var(--color-white);
  cursor: pointer
}
.footer__map img {
  display: block;
  width: 100%;
  height: 144px
}
.footer__links {
  grid-area: links
}
.footer__follow {
  grid-area: follow
}
.footer__title {
  margin-bottom: 20px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0
}
.footer__item {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 2px;
  border-bottom: 1px solid rgba(255,255,255,.2);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff
}
.footer__item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  cursor: pointer
}
.footer__item:hover {
  color: var(--color-blue);
  background-color: var(--color-white)
}
.footer__item:hover .footer__arrow path {
  stroke: var(--color-blue)
}
.footer__item:hover .footer__icon path {
  fill: var(--color-blue)
}
.footer__text {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.footer__icon {
  margin-right: 12px
}
.footer__awards {
  grid-area: awards;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 64px
}
.footer__baltimore {
  width: 65px;
  height: 120px;
  padding-top: 64px;
  padding: 64px 5px 0 5px;
  background: url(../images/award-baltimore.png) center/contain no-repeat
}
.footer__baltimore span {
  display: block;
  width: 100%;
  text-align: center;
  font-family: Poppins,sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .5px;
  background-color: #febf3f
}
.footer__great {
  width: 74px;
  height: 120px;
  background: url(../images/award-great.png) center/contain no-repeat
}
.footer__technology {
  width: 110px;
  height: 80px;
  padding: 53px 20px 0;
  background: url(../images/award-technology.png) center/contain no-repeat
}
.footer__technology span {
  display: block;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: .5px;
  color: #000241;
  background-color: #fdb813
}
.footer__legal {
  grid-area: legal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 32px;
  border-top: 1px solid rgba(255,255,255,.2)
}
.footer__private {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--color-white)
}
.footer__private {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.footer__terms {
  margin-right: 24px
}
.footer__privacy,
.footer__terms {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: var(--color-white);
  cursor: pointer
}
@media (max-width:1199px) {
  .footer__wrapper {
    grid-template-columns: 276px 262px 262px
  }
}
@media (max-width:991px) {
  .footer__wrapper {
    grid-template-areas: "info info" "links follow" "legal legal";
    grid-template-columns: repeat(2,1fr);
    gap: 40px
  }
  .footer__info {
    margin-bottom: 0
  }
  .footer__awards {
    display: none
  }
}
@media (max-width:767px) {
  .footer {
    padding: 40px 0
  }
  .footer__legal {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .footer__rights {
    width: 100%;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2
  }
  .footer__private {
    width: 100%;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 20px
  }
}
@media (max-width:575px) {
  .footer__wrapper {
    grid-template-areas: "info" "links" "follow" "legal";
    grid-template-columns: 1fr;
    gap: 40px 0
  }
}
.map {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000
}
.map.active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0,0,0,.5)
}
.map__close {
  position: absolute;
  top: 7vh;
  right: 7vw;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 101
}
.map__frame {
  position: relative;
  z-index: 100;
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 4px 4px 16px 0 rgba(0,0,0,.49)
}
/*# sourceMappingURL=maps/main.css.map */
