html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
@font-face {
  font-family: "Nexa Trial";
  font-style: normal;
  font-weight: 400;
  src: local("Nexa Trial"),url(../fonts/nexa-font/nexa-regular.woff) format("woff"),url(../fonts/nexa-font/nexa-regular.otf) format("otf"),url(../fonts/nexa-font/nexa-regular.ttf) format("ttf")
}
@font-face {
  font-family: "Nexa Trial";
  font-style: normal;
  font-weight: 700;
  src: local("Nexa Trial"),url(../fonts/nexa-font/nexa-bold.woff) format("woff"),url(../fonts/nexa-font/nexa-bold.otf) format("otf"),url(../fonts/nexa-font/nexa-bold.ttf) format("ttf")
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova"),url(../fonts/proxima-nova/proxima-nova.woff) format("woff"),url(../fonts/proxima-nova/proxima-nova.otf) format("otf"),url(../fonts/proxima-nova/proxima-nova.ttf) format("ttf")
}
.svg-image-arrow-blue,
.svg-image-arrow-down,
.svg-image-header-logo,
.svg-image-header-logo-black,
.svg-image-quotes {
  background: url(../images/sprites/main.svg) no-repeat
}
.svg-image-arrow-blue {
  background-position: 36.7647058824% 90.4580152672%;
  background-size: 1800% auto;
  width: 40px
}
.svg-image-arrow-blue:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 97.5%
}
.svg-image-arrow-blue-dims {
  width: 40px;
  height: 39px
}
.svg-image-arrow-down {
  background-position: 41.3105413105% 84.6428571429%;
  background-size: 4000% auto;
  width: 18px
}
.svg-image-arrow-down:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 116.6666666667%
}
.svg-image-arrow-down-dims {
  width: 18px;
  height: 21px
}
.svg-image-header-logo {
  background-position: 0 100%;
  background-size: 409.0909090909% auto;
  width: 176px
}
.svg-image-header-logo:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 36.3636363636%
}
.svg-image-header-logo-dims {
  width: 176px;
  height: 64px
}
.svg-image-header-logo-black {
  background-position: 0 0;
  background-size: 100% auto;
  width: 720px
}
.svg-image-header-logo-black:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 32.9166666667%
}
.svg-image-header-logo-black-dims {
  width: 720px;
  height: 237px
}
.svg-image-quotes {
  background-position: 27.2445820433% 100%;
  background-size: 972.972972973% auto;
  width: 74px
}
.svg-image-quotes:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 86.4864864865%
}
.svg-image-quotes-dims {
  width: 74px;
  height: 64px
}
.image-by-height {
  width: auto
}
.image-by-height:before {
  content: none
}
.image-by-height > svg {
  height: inherit
}
.image-by-height > img {
  height: inherit!important;
  vertical-align: top!important;
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
  max-height: none!important;
  border: 0!important;
  opacity: 0!important
}
* {
  box-sizing: border-box
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  font-family: Helvetica,Arial,sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.container {
  width: 100%;
  max-width: 850px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 40px
}
:root {
  --color-dark: #0c2742;
  --color-blue: #1b75bc;
  --color-light-blue: #eef2f5;
  --color-white: #fff;
  --color-yellow: #f9ee8e;
  --color-green: #02ad23
}
* {
  padding: 0;
  margin: 0
}
body.lock {
  overflow: hidden
}
.header {
  height: 90px;
  font-family: Oswald,sans-serif;
  transition: all .2s linear
}
.header .container {
  max-width: 1400px
}
.fixed .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--color-white)
}
.header__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.svg-image-header-logo,
.svg-image-header-logo-black {
  width: 174px;
  height: auto
}
.svg-image-header-logo-black {
  display: none
}
.fixed .header .svg-image-header-logo-black {
  display: block
}
.fixed .header .svg-image-header-logo {
  display: none
}
.fixed .header .header__link {
  color: var(--color-black)
}
.fixed .header .header__link.active.active {
  color: var(--color-white)
}
.fixed .header .header__appply {
  color: var(--color-white);
  background-color: var(--color-blue)
}
.header__navbar {
  height: 90px
}
.header__navbar .header__list {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none
}
.header__link {
  height: 100%;
  padding: 28px 11px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: var(--color-white)
}
.header__link:last-child {
  margin: 0
}
.header__link.active {
  color: var(--color-white);
  background-color: var(--color-blue)
}
.header__link a {
  display: block;
  padding: 5px 10px;
  cursor: pointer
}
.header__appply {
  padding: 0;
  height: 56px;
  color: var(--color-blue);
  background-color: var(--color-white);
  border-radius: 3px
}
.header__appply a {
  display: block;
  padding: 16px 24px
}
.first {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 900px
}
.first.fixed {
  padding-top: 90px
}
.first__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden
}
.first__bg video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%
}
.intro {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.intro .container {
  max-width: 1328px
}
.intro__wrapper {
  min-height: calc(100vh - 90px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 170px 0 100px 27px
}
.intro__title {
  font-family: Oswald,sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 120px;
  line-height: 100px;
  letter-spacing: .4px;
  color: var(--color-white);
  text-shadow: 0 4px 10px rgba(0,0,0,.2)
}
.intro__title p {
  margin: 0
}
.intro__title .intro__static {
  margin-bottom: 24px
}
.intro__title .intro__frame {
  height: 120px;
  overflow: hidden
}
.intro__title .intro__dynamic {
  color: var(--color-yellow);
  -webkit-transform: translateY(120px);
  transform: translateY(120px);
  opacity: 0;
  -webkit-animation: TextSlider 10s linear .5s infinite;
  animation: TextSlider 10s linear .5s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}
.intro__title .intro__dynamic p {
  margin-bottom: 20px
}
.intro__title .intro__dynamic p:last-child {
  margin-bottom: 0
}
.intro__info {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}
.intro__about {
  max-width: 596px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: .4px;
  color: rgba(255,255,255,.8)
}
.intro__scroll {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: Rotate .5s linear .5s;
  animation: Rotate .5s linear .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0
}
.intro__scroll p {
  margin-left: 12px;
  font-family: Oswald,sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: rgba(255,255,255,.8)
}
@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate 90deg;
    transform: rotate 90deg;
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1
  }
}
@keyframes Rotate {
  0% {
    -webkit-transform: rotate 90deg;
    transform: rotate 90deg;
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1
  }
}
@-webkit-keyframes TextSlider {
  0% {
    opacity: 0;
    -webkit-transform: translateY(120px);
    transform: translateY(120px)
  }
  2% {
    opacity: 1
  }
  8% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  16% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  24% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px)
  }
  32% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px)
  }
  40% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px)
  }
  98% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px);
    opacity: 0
  }
}
@keyframes TextSlider {
  0% {
    opacity: 0;
    -webkit-transform: translateY(120px);
    transform: translateY(120px)
  }
  2% {
    opacity: 1
  }
  8% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  16% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  24% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px)
  }
  32% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px)
  }
  40% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px)
  }
  98% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px);
    opacity: 0
  }
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden
}
body {
  overflow-x: hidden;
  background-color: var(--color-light-blue)
}
.about {
  position: relative
}
.about__container {
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}
.about__wrapper {
  width: 100%;
  height: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: grid;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-template-areas: "title info" "description info";
  grid-template-columns: 41.66% 48.89%;
  gap: 64px 9.45%;
  padding: 108px 0 238px 12.68%
}
.about__title {
  justify-self: end;
  max-width: 482px;
  grid-area: title;
  margin-left: 20.75%;
  font-family: Oswald,sans-serif;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: .4px;
  color: var(--color-dark)
}
.about__title span {
  color: var(--color-blue)
}
.about__description {
  max-width: 408px;
  grid-area: description;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: .2px;
  color: var(--color-dark)
}
.about__info {
  grid-area: info;
  padding-top: 164px;
  justify-self: end
}
.about__img img {
  display: block;
  width: 100%;
  height: auto
}
.about__more {
  position: relative
}
.about__square {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 174px;
  height: 174px;
  background-color: var(--color-blue);
  border: 1px solid #fff;
  -webkit-transform: rotate(45deg) translate(-123px,0);
  transform: rotate(45deg) translate(-123px,0);
  -webkit-filter: drop-shadow(4px 4px 40px rgba(27, 117, 188, .4));
  filter: drop-shadow(4px 4px 40px rgba(27, 117, 188, .4))
}
.about__text {
  position: absolute;
  top: -30px;
  left: -38px;
  z-index: 2;
  width: 80px;
  height: 68px;
  text-align: center
}
.about__text p {
  margin-bottom: 4px;
  font-family: Oswald,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: var(--color-white)
}
.about__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  cursor: pointer
}
.about__wrapper:nth-child(2) {
  display: grid;
  grid-template-areas: "info title " "info description";
  grid-template-columns: 46.75% 48.81%;
  gap: 73px 4.44%;
  margin: 0;
  padding: 157px 0 238px 0
}
.about__wrapper:nth-child(2) .about__title {
  max-width: 506px;
  margin-left: 0
}
.about__wrapper:nth-child(2) .about__description {
  justify-self: end;
  max-width: 480px;
  margin-left: 102px
}
.about__wrapper:nth-child(2) .about__info {
  padding-top: 0;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end
}
.about__wrapper:nth-child(2) .about__img {
  max-width: 540px
}
.about__wrapper:nth-child(2) .about__square {
  left: 100%
}
.about__wrapper:nth-child(2) .about__text {
  left: auto;
  right: -38px
}
.svg-image-pathnew {
  position: absolute;
  top: 16px;
  left: 305px;
  height: auto;
  z-index: 1
}
.build {
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: 900px;
  padding-top: 90px
}
.build__wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0 12.09%;
  padding: 0 19.06% 0 12.69%
}
.build__info:first-child {
  padding-top: 220px
}
.build__info:last-child {
  padding-top: 100px
}
.build__hot {
  width: 128px;
  height: 28px;
  background-color: #fff;
  border-radius: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 24px
}
.build__hot img {
  width: 12px;
  height: 12px
}
.build__hot p {
  font-family: Poppins,sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: .2px;
  text-transform: uppercase;
  color: var(--color-dark)
}
.build__list {
  padding: 0;
  margin: 0;
  list-style-type: none
}
.build__item {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 20px 0 0;
  border-bottom: 1px dashed rgba(255,255,255,.4);
  transition: all .2s linear
}
.build__item:hover {
  background-color: var(--color-white)
}
.build__item:hover .build__position {
  color: var(--color-dark);
  -webkit-transform: translateX(20px);
  transform: translateX(20px)
}
.build__item:hover .build__place {
  color: var(--color-dark);
  -webkit-transform: translateX(20px);
  transform: translateX(20px)
}
.build__item:hover .svg-image-arrow-blue {
  opacity: 1
}
.build__description {
  width: 73%
}
.build__position {
  margin-bottom: 6px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: .2px;
  color: var(--color-white);
  transition: all .2s linear
}
.build__place {
  padding-bottom: 20px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: rgba(255,255,255,.8);
  transition: all .2s linear
}
.build__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer
}
.svg-image-arrow-blue {
  opacity: 0;
  transition: all .2s linear
}
.build__title {
  margin-bottom: 40px;
  font-family: Oswald,sans-serif;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: .4px;
  color: var(--color-white)
}
.build__text {
  margin-bottom: 41px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: .2px;
  color: var(--color-white)
}
.build__more {
  position: relative;
  max-width: 170px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all .2s linear
}
.build__more:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px)
}
.build__more p {
  font-family: Oswald,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: var(--color-white)
}
.build__more a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer
}
.company {
  position: relative;
  z-index: 2
}
.news {
  position: relative;
  z-index: 2;
  height: 100vh;
  min-height: 900px;
  padding-top: 150px;
  background-color: #fff
}
.news__bg {
  position: absolute;
  top: 22%;
  left: 66.19%;
  z-index: 10;
  width: 17.75vw;
  height: 17.75vw;
  border-radius: 50%;
  background: #1e90ff;
  -webkit-filter: blur(200px);
  filter: blur(200px)
}
.news-pathnew {
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 1
}
.news__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 12.69% 65px
}
.news__title {
  font-family: Oswald,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: .4px;
  color: var(--color-dark)
}
.news__more {
  position: relative;
  min-width: 145px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 22px
}
.news__more p {
  font-family: Oswald,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: var(--color-blue)
}
.news__more a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  cursor: pointer
}
.news__slider {
  position: relative;
  z-index: 5;
  min-width: 1480px;
  margin-left: 12.69%;
  overflow: hidden
}
.news__wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.news__item {
  width: 460px;
  height: 429px
}
.news__img {
  width: 100%;
  height: 329px;
  margin-bottom: 24px
}
.news__img img {
  display: block;
  width: 460px;
  height: 329px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover
}
.news__description {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}
.news__description img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px
}
.news__description p {
  margin-left: 22px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: .2px;
  color: var(--color-dark)
}
.news__description a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer
}
.testimonials {
  height: 100vh;
  min-height: 900px;
  background-color: var(--color-light-blue)
}
.testimonials__block {
  position: relative;
  z-index: 3;
  height: 100%
}
.testimonials__title {
  position: absolute;
  left: 50%;
  bottom: 80px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "Nexa Trial",sans-serif;
  font-weight: 700;
  font-size: 197.547px;
  line-height: 198px;
  letter-spacing: .790188px;
  color: var(--color-blue);
  opacity: .05
}
.svg-image-quotes {
  position: absolute;
  top: 100px;
  left: 12.69%
}
.testimonials__container {
  max-width: 1194px;
  padding: 131px 27px 0;
  margin: 0 auto
}
.testimonials__slider {
  width: 585px;
  margin-bottom: 64px;
  overflow: hidden
}
.testimonials__item {
  font-family: Poppins,sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: .2px;
  color: var(--color-dark)
}
.testimonials__navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.testimonials__navItem {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 49px;
  cursor: pointer
}
.testimonials__navItem:hover .testimonials__next,
.testimonials__navItem:hover .testimonials__prev {
  background-color: var(--color-blue)
}
.testimonials__navItem:hover path {
  stroke: var(--color-white)
}
.testimonials__navItem svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.testimonials__navItem svg path {
  transition: all .2s linear
}
.testimonials__next,
.testimonials__prev {
  width: 71px;
  height: 71px;
  background: rgba(27,117,188,.1);
  border: 2px solid var(--color-blue);
  -webkit-transform: rotate(45deg) translateX(33%);
  transform: rotate(45deg) translateX(33%);
  transition: all .2s linear
}
.testimonials__info {
  position: absolute;
  top: 0;
  right: 380px;
  z-index: 10;
  padding-top: 100px
}
.testimonials__range {
  position: relative;
  z-index: 5;
  width: 172px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 14px;
  -webkit-transform: translateX(150px);
  transform: translateX(150px)
}
.testimonials__range img {
  margin-right: 13px
}
.testimonials__range img:last-child {
  margin-right: 0
}
.testimonials__value {
  font-family: "Nexa Trial",sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 121px;
  letter-spacing: .4px;
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  margin-bottom: 31px;
  color: var(--color-white)
}
.testimonials__name {
  margin-bottom: 31px;
  font-family: "Nexa Trial",sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: .4px;
  color: var(--color-white)
}
.testimonials__add {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.testimonials__zero {
  width: 70px;
  height: 99px;
  margin-bottom: 21px
}
.testimonials__zero img {
  display: block;
  width: 100%;
  height: auto
}
.testimonials__view {
  position: relative;
  -webkit-transform: translate(60px,38px);
  transform: translate(60px,38px)
}
.testimonials__square {
  width: 90px;
  height: 90px;
  background: #02ad23;
  border: 2px solid #fff;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(45deg) translate(-8%,5%);
  transform: rotate(45deg) translate(-8%,5%);
  -webkit-filter: drop-shadow(4px 4px 40px rgba(27, 117, 188, .4));
  filter: drop-shadow(4px 4px 40px rgba(27, 117, 188, .4))
}
.testimonials__text {
  position: absolute;
  top: 24px;
  left: 16px
}
.testimonials__text p {
  font-family: Poppins,sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-white)
}
.testimonials__text img {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto
}
.footer {
  position: relative;
  z-index: 2;
  padding: 100px 0 50px;
  color: var(--color-white);
  background: var(--color-blue) url(../images/footer-bg.png) left bottom/36.31% no-repeat
}
.footer .container {
  max-width: 1254px;
  padding: 0 30px
}
.footer__wrapper {
  display: grid;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-template-areas: "info links follow" "awards awards awards" "legal legal legal";
  grid-template-columns: 364px 262px 262px
}
.footer__info {
  grid-area: info;
  margin-bottom: 72px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px
}
.footer__logo {
  margin-bottom: 40px
}
.footer__local {
  max-width: 245px;
  margin-bottom: 60px
}
.footer__adress,
.footer__email,
.footer__phone {
  margin-bottom: 12px
}
.footer__adress a,
.footer__email a,
.footer__phone a {
  color: inherit;
  text-decoration: none;
  cursor: pointer
}
.footer__map {
  width: 276px;
  height: 152px;
  border: 4px solid var(--color-white)
}
.footer__map img {
  display: block;
  width: 100%;
  height: 144px
}
.footer__links {
  grid-area: links
}
.footer__follow {
  grid-area: follow
}
.footer__title {
  margin-bottom: 20px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0
}
.footer__item {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 2px;
  border-bottom: 1px solid rgba(255,255,255,.2);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff
}
.footer__item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  cursor: pointer
}
.footer__item:hover {
  color: var(--color-blue);
  background-color: var(--color-white)
}
.footer__item:hover .footer__arrow path {
  stroke: var(--color-blue)
}
.footer__item:hover .footer__icon path {
  fill: var(--color-blue)
}
.footer__text {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.footer__icon {
  margin-right: 12px
}
.footer__awards {
  grid-area: awards;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 64px
}
.footer__baltimore {
  width: 65px;
  height: 120px;
  padding-top: 64px;
  padding: 64px 5px 0 5px;
  background: url(../images/award-baltimore.png) center/contain no-repeat
}
.footer__baltimore span {
  display: block;
  width: 100%;
  text-align: center;
  font-family: Poppins,sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .5px;
  background-color: #febf3f
}
.footer__great {
  width: 74px;
  height: 120px;
  background: url(../images/award-great.png) center/contain no-repeat
}
.footer__technology {
  width: 110px;
  height: 80px;
  padding: 53px 20px 0;
  background: url(../images/award-technology.png) center/contain no-repeat
}
.footer__technology span {
  display: block;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: .5px;
  color: #000241;
  background-color: #fdb813
}
.footer__legal {
  grid-area: legal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 32px;
  border-top: 1px solid rgba(255,255,255,.2)
}
.footer__private {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--color-white)
}
.footer__private {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.footer__terms {
  margin-right: 24px
}
.footer__privacy,
.footer__terms {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: var(--color-white);
  cursor: pointer
}
.map {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000
}
.map.active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0,0,0,.5)
}
.map__close {
  position: absolute;
  top: 7vh;
  right: 7vw;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 101
}
.map__frame {
  position: relative;
  z-index: 100;
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 4px 4px 16px 0 rgba(0,0,0,.49)
}
/*# sourceMappingURL=maps/main.css.map */
