section.build
    .container
        .build__container
            .build__wrapper
                .build__info.build__hidden 
                    .build__hot
                        +picture('fire','png','x2')
                        p  hot openings
                    ul.build__list
                        li.build__item
                            .build__description
                                p.build__position Senior UX Researcher & Designer
                                p.build__place Columbia, MD
                            +icon('arrow-blue')
                            a(class="build__link" href="#")
                        li.build__item
                            .build__description
                                p.build__position HR Specialist
                                p.build__place Columbia, MD
                            +icon('arrow-blue')
                            a(class="build__link" href="#")
                        li.build__item
                            .build__description
                                p.build__position Creative Director
                                p.build__place Columbia, MD
                            +icon('arrow-blue')
                            a(class="build__link" href="#")
                        li.build__item
                            .build__description
                                p.build__position React Native Senior Developer
                                p.build__place Columbia, MD
                            +icon('arrow-blue')
                            a(class="build__link" href="#")
                .build__info
                    h2.build__title Build&nbsp;your career&nbsp;with&nbsp;Us
                    p(class='build__text build__hidden').
                        Visionist offers competitive salaries,
                        amazing benefits, and a place where you
                        can make an impact. Join a company where
                        your work matters, your achievements
                        are celebrated, and leadership knows
                        your value.
                    .build__more
                        p More about careers
                        img(src="images/arrow45.svg" alt="")
                        a(href="#")