header.header
    .container
        .header__wrapper
            +icon('header-logo')
            +icon('header-logo-black')
            nav.header__navbar
                ul.header__list
                    li.header__link.active
                        a Home
                    li.header__link  
                        a Who we are
                    li.header__link
                        a What we do
                    li.header__link
                        a Your new career
                    li.header__link
                        a News
                    li.header__link.header__appply
                        a Apply now
