.map
  .map__overlay
  svg(class="map__close" data-name="Layer 1" height="200" id="Layer_1" viewBox="0 0 200 200" width="200" xmlns="http://www.w3.org/2000/svg")
    path(d="M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z" fill='#000')
  iframe(class="map__frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3092.514514295141!2d-76.81113858471214!3d39.18575623750033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7e08986940b91%3A0x13fc41177f5c3ed6!2zNjcwMCBBbGV4YW5kZXIgQmVsbCBEciAjNDQwLCBDb2x1bWJpYSwgTUQgMjEwNDYsINCh0KjQkA!5e0!3m2!1sru!2sby!4v1665744157654!5m2!1sru!2sby" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")