section.news
  .container
    .news__bg
    //- svg(class="news-pathnew" width="536" height="1458" viewBox="0 0 536 1458" fill="none" xmlns="http://www.w3.org/2000/svg")
    //-   path(d="M536 0V236.452L527.079 236.636C438.049 238.839 388.891 293.179 388.891 389.742L388.527 891.836L388.345 1085.51V1086.25C365.223 1271.11 227.582 1458 9.10326 1458H0V1209.25L8.19295 1208.33C94.856 1199.7 146.563 1140.4 146.563 1049.9L146.38 369.548C146.563 165.774 317.34 0 526.897 0H536Z" fill="#1B75BC" fill-opacity="0.06" class="news__path")
    .news__header
      h2.news__title Company News
      .news__more
        p More latest news
        img(src="images/arrow-small-blue.svg" alt="")
        a(href="#")
    .news__slider.swiper-container
      .news__wrapper.swiper-wrapper
        .news__item.swiper-slide
          .news__img 
            +picture('news1', 'jpg', 'x2')
          .news__description
            img(src="images/arrow-small-blue.svg" alt="")
            p Simply dummy text of the printing and typesetting.
            a(href="#")
        .news__item.swiper-slide
          .news__img 
            +picture('news2', 'jpg', 'x2')
          .news__description
            img(src="images/arrow-small-blue.svg" alt="")
            p Simply dummy text of the printing and typesetting.
            a(href="#")
        .news__item.swiper-slide
          .news__img 
            +picture('news3', 'jpg', 'x2')
          .news__description
            img(src="images/arrow-small-blue.svg" alt="")
            p Simply dummy text of the printing and typesetting.
            a(href="#")