section.news
  .container
    .news__bg
    .news__header
      h2.news__title Company News
      .news__more
        p More latest news
        +icon('arrow-small-blue')
        a(href="#")
    .news__slider.swiper-container
      .news__wrapper.swiper-wrapper
        .news__item.swiper-slide
          .news__img 
            +picture('news1', 'jpg', 'x2')
          .news__description
            +icon('arrow-small-blue')
            p Simply dummy text of the printing and typesetting.
            a(href="#")
        .news__item.swiper-slide
          .news__img 
            +picture('news2', 'jpg', 'x2')
          .news__description
            +icon('arrow-small-blue')
            p Simply dummy text of the printing and typesetting.
            a(href="#")
        .news__item.swiper-slide
          .news__img 
            +picture('news3', 'jpg', 'x2')
          .news__description
            +icon('arrow-small-blue')
            p Simply dummy text of the printing and typesetting.
            a(href="#")