section.testimonials
  .container
    .testimonials__block
      h2.testimonials__title Testimonials
      +icon('quotes')
      .testimonials__container
        .testimonials__slider.swiper-container
          .testimonials__wrapper.swiper-wrapper
            p.testimonials__item.swiper-slide.
              I would say if I had to choose any company to spend 8+ hours of my day I would pick Visionist 10
              times out of 10. 
            p.testimonials__item.swiper-slide.
              Company atmosphere is very open and supportive.
        .testimonials__navbar
          .testimonials__navItem.prev
            .testimonials__prev
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M13.636 6.81766L3.45369 17L13.636 27.1823" stroke="#1B75BC" stroke-width="2")
              path(d="M3.45257 17L30.6055 17" stroke="#1B75BC" stroke-width="2")
          .testimonials__navItem.next
            .testimonials__next
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M20.364 27.1823L30.5463 17L20.364 6.81766" stroke="#1B75BC" stroke-width="2")
              path(d="M30.5474 17H3.39453" stroke="#1B75BC" stroke-width="2")
      .testimonials__info
        svg(class="news-pathnew" width="536" height="1458" viewBox="0 0 536 1458" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M536 0V236.452L527.079 236.636C438.049 238.839 388.891 293.179 388.891 389.742L388.527 891.836L388.345 1085.51V1086.25C365.223 1271.11 227.582 1458 9.10326 1458H0V1209.25L8.19295 1208.33C94.856 1199.7 146.563 1140.4 146.563 1049.9L146.38 369.548C146.563 165.774 317.34 0 526.897 0H536Z" fill="#1B75BC" fill-opacity="0.06" class="news__path")
        .testimonials__range
          img(src="images/star.svg" alt="")
          img(src="images/star.svg" alt="")
          img(src="images/star.svg" alt="")
          img(src="images/star.svg" alt="")
          img(src="images/star.svg" alt="")
        p.testimonials__value 4.9
        p.testimonials__name Glassdoor Reviews
        .testimonials__add
          .testimonials__zero
            +picture('zero', 'png', '2x')
          .testimonials__view
            .testimonials__square
            .testimonials__text
              p View
              img(src="images/arrow45.svg" alt="")