section.testimonials
  .container
    .testimonials__block
      h2.testimonials__title Testimonials
      +icon('quotes')
      .testimonials__container
        .testimonials__slider.swiper-container
          .testimonials__wrapper.swiper-wrapper
            p.testimonials__item.swiper-slide.
              I would say if I had to choose any company to spend 8+ hours of my day I would pick Visionist 10
              times out of 10. 
            p.testimonials__item.swiper-slide.
              Company atmosphere is very open and supportive.
        .testimonials__navbar
          .testimonials__navItem.prev
            .testimonials__prev
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M13.636 6.81766L3.45369 17L13.636 27.1823" stroke="#1B75BC" stroke-width="2")
              path(d="M3.45257 17L30.6055 17" stroke="#1B75BC" stroke-width="2")
          .testimonials__navItem.next
            .testimonials__next
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M20.364 27.1823L30.5463 17L20.364 6.81766" stroke="#1B75BC" stroke-width="2")
              path(d="M30.5474 17H3.39453" stroke="#1B75BC" stroke-width="2")
      .testimonials__info
        .testimonials__range
          img(src="images/star.svg" alt="")
          img(src="images/star.svg" alt="")
          img(src="images/star.svg" alt="")
          img(src="images/star.svg" alt="")
          img(src="images/star.svg" alt="")
        p.testimonials__value 4.9
        p.testimonials__name Glassdoor Reviews
        .testimonials__add
          .testimonials__zero
            +picture('zero', 'png', '2x')
          .testimonials__view
            .testimonials__square
            .testimonials__text
              p View
              img(src="images/arrow45.svg" alt="")