section.about  
  .about__container
    .about__wrapper.about__first
      h2.about__title Founded on <span>Employee- Ownership</span>
      p.about__description
        | Since our founding in 2010,
        | Visionist’s “employees first”
        | ethos is realized through
        | companyownership, trust,
        | and transparency.
      .about__info
        .about__img
          +picture('about1','png','x2')
        .about__more
          .about__square
          .about__text
            p More about Who We are
            img(src="images/arrow45.svg" alt="")
            a.about__link
    .about__wrapper.about__second
      h2.about__title Exciting Work that <span>Impacts the World </span>
      p(class="about__description").
        Our engineers, analysts, data
        scientists, and designers collaborate to solve critically important data-driven problems in National Security and Defense.
      .about__info
        .about__img
          +picture('about2','png','x2')
        .about__more
          .about__square
          .about__text
            p More about What We do
            img(src="images/arrow45.svg" alt="")
            a.about__link
  //- +icon('pathnew')
  //- .icon
  svg(class="svg-image-pathnew" width="536" height="1458" viewBox="0 0 536 1458" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M536 0V236.452L527.079 236.636C438.049 238.839 388.891 293.179 388.891 389.742L388.527 891.836L388.345 1085.51V1086.25C365.223 1271.11 227.582 1458 9.10326 1458H0V1209.25L8.19295 1208.33C94.856 1199.7 146.563 1140.4 146.563 1049.9L146.38 369.548C146.563 165.774 317.34 0 526.897 0H536Z" fill="#1B75BC" fill-opacity="0.06" class="blue__path")