.intro
    .container
        .intro__wrapper
            .intro__title
                p.intro__static Employee
                .intro__frame
                    .intro__dynamic
                        p owned
                        p focused
                        p driven
            .intro__info
                h1.intro__about Visionist combines big company opportunities & small business culture
                .intro__scroll
                    +icon('arrow-down')
                    p sroll down