.build {
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: 900px;
  padding-top: 90px;

  & .container {
    max-width: 1660px;
    padding: 0 30px;
  }
}

.build__wrapper {
  display: grid;
  grid-template-areas: 'buildFirst buildLast';
  grid-template-columns: repeat(2, 1fr);
  gap: 0 12.09%;
  padding: 0 19.06% 0 12.69%;
}

.build__info {
  &:first-child {
    grid-area: buildFirst;
    padding-top: 220px;
  }
  &:last-child {
    grid-area: buildLast;
    padding-top: 100px;
  }
}

.build__hot {
  width: 128px;
  height: 28px;
  background-color: #fff;
  border-radius: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 24px;

  img {
    width: 12px;
    height: 12px;
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: var(--color-dark);
  }
}

.build__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.build__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px 0 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
  transition: all 0.2s linear;

  &:hover {
    background-color: var(--color-white);

    & .build__position {
      color: var(--color-dark);
      transform: translateX(20px);
    }

    & .build__place {
      color: var(--color-dark);
      transform: translateX(20px);
    }

    & .svg-image-arrow-blue {
      opacity: 1;
    }
  }
}

.build__description {
  width: 73%;
}

.build__position {
  margin-bottom: 6px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--color-white);
  transition: all 0.2s linear;
}

.build__place {
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s linear;
}

.build__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.svg-image-arrow-blue {
  opacity: 0;
  transition: all 0.2s linear;
}

.build__title {
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: 0.4px;
  color: var(--color-white);
}

.build__text {
  margin-bottom: 41px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--color-white);
}

.build__more {
  position: relative;
  max-width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s linear;

  &:hover {
    transform: translateX(5px);
  }

  p {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var(--color-white);
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
  }
}

@media (max-width: 1599px) {
  .build__title {
    font-size: 80px;
    line-height: 80px;
  }

  .build__wrapper {
    padding: 0 150px 0 100px;
  }

  .build__info:last-child {
    padding-top: 30px;
  }

  .build__info:first-child {
    padding-top: 120px;
  }

  .build__text {
    font-size: 18px;
    line-height: 30px;
  }

  .build__position {
    font-size: 18px;
    line-height: 24px;
  }

  .svg-image-arrow-blue {
    width: 20px;
  }

  .build__description {
    width: 80%;
  }
}

@media (max-width: 1199px) {
  .build {
    min-height: 700px;
    padding-top: 80px;
  }

  .build__wrapper {
    padding: 0 100px 0 50px;
    gap: 0 8%;
  }

  .build__title {
    max-width: 500px;
    font-size: 65px;
    line-height: 70px;
  }

  .build__text {
    line-height: 28px;
  }

  .build__position {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 991px) {
  .build__title {
    font-size: 55px;
    line-height: 60px;
  }

  .build__wrapper {
    padding: 0;
  }

  .build__description {
    width: 88%;
  }
}

@media (max-width: 767px) {
  .build {
    height: auto;
    padding-bottom: 40px;
  }

  .build__wrapper {
    grid-template-areas:
      'buildLast'
      'buildFirst';
    grid-template-columns: 1fr;
    gap: 20px 0;
    padding: 0 30px;
  }

  .build__info:first-child {
    padding-top: 40px;
  }

  .build__info:last-child {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .build__wrapper {
    padding: 0;
  }

  .build__title {
    font-size: 32px;
    line-height: 40px;
  }
}
