.testimonials {
  height: 100vh;
  min-height: 900px;
  background-color: var(--color-light-blue);

  & .container {
    position: relative;
    height: 100%;
    max-width: 1660px;
    padding: 0 30px;
  }
}

.testimonials__block {
  position: relative;
  z-index: 3;
  height: 100%;
}

.testimonials__title {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  font-family: 'Nexa Trial', sans-serif;
  font-weight: 700;
  font-size: 197.547px;
  line-height: 198px;
  letter-spacing: 0.790188px;
  color: var(--color-blue);
  opacity: 0.05;
}

.svg-image-quotes {
  position: absolute;
  top: 100px;
  left: 12.69%;
}

.testimonials__container {
  position: relative;
  z-index: 15;
  max-width: 1194px;
  padding: 131px 27px 0;
  margin: 0 auto;
}

.testimonials__slider {
  width: 585px;
  margin-bottom: 64px;
  overflow: hidden;
}

.testimonials__item {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.2px;
  color: var(--color-dark);
}

.testimonials__navbar {
  display: flex;
}

.testimonials__navItem {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 49px;
  cursor: pointer;

  &:hover .testimonials__prev,
  &:hover .testimonials__next {
    background-color: var(--color-blue);
  }

  &:hover path {
    stroke: var(--color-white);
  }

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & path {
      transition: all 0.2s linear;
    }
  }
}

.testimonials__prev,
.testimonials__next {
  width: 71px;
  height: 71px;
  background: rgba(27, 117, 188, 0.1);
  border: 2px solid var(--color-blue);
  transform: rotate(45deg) translateX(33%);
  transition: all 0.2s linear;
}

.testimonials__info {
  position: absolute;
  top: 0;
  right: 360px;
  z-index: 10;
  padding-top: 100px;
}

.news-pathnew {
  position: absolute;
  top: -653px;
  left: -20px
}

.testimonials__range {
  position: relative;
  z-index: 5;
  width: 172px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  transform: translateX(150px);
  img {
    margin-right: 13px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.testimonials__value {
  position: relative;
  z-index: 5;
  font-family: 'Nexa Trial', sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 121px;
  letter-spacing: 0.4px;
  transform: translateX(150px);
  margin-bottom: 31px;
  color: var(--color-white);
}

.testimonials__name {
  position: relative;
  z-index: 5;
  margin-bottom: 31px;
  font-family: 'Nexa Trial', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.4px;
  color: var(--color-white);
}

.testimonials__add {
  position: relative;
  z-index: 5;
  display: flex;
}

.testimonials__zero {
  width: 70px;
  height: 99px;
  margin-bottom: 21px;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.testimonials__view {
  position: relative;
  transform: translate(60px, 38px);
}

.testimonials__square {
  width: 90px;
  height: 90px;
  background: #02ad23;
  border: 2px solid #ffffff;
  transform-origin: center center;
  transform: rotate(45deg) translate(-8%, 5%);
  filter: drop-shadow(4px 4px 40px rgba(27, 117, 188, 0.4));
}

.testimonials__text {
  position: absolute;
  top: 24px;
  left: 16px;

  p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--color-white);
  }

  img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
  }
}

@media (max-width: 1310px) {
  .testimonials__info {
    left: 52%;
    width: 375px;
  }
}

@media (max-width: 1199px) {
  .svg-image-quotes {
    left: 0;
  }

  .testimonials__item {
    font-size: 28px;
    line-height: 40px;
  }

  .testimonials__title {
    font-size: 160px;
  }
}

@media (max-width: 991px) {
  .testimonials__title {
    font-size: 110px;
  }

  .testimonials__slider {
    width: 480px;
  }

  .testimonials__item {
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .testimonials {
    min-height: 700px;
  }

  .testimonials__info {
    left: 290px;
    top: 200px;
    right: auto;
    width: 375px;
  }

  .testimonials__title {
    font-size: 90px;
  }
}

@media (max-width: 575px) {
  .testimonials__container {
    padding: 100px 0 0 0;
  }

  .testimonials__slider {
    width: 100%;
    min-width: 100%;
    margin-bottom: 44px;
  }

  .testimonials__item {
    font-size: 18px;
    line-height: 24px;
  }

  .svg-image-quotes {
    top: 70px;
  }

  .testimonials__navbar {
    width: 100%;
    justify-content: space-between;
  }

  .testimonials__title {
    font-size: 50px;
    bottom: -30px;
  }

  .testimonials__info {
    left: 125px;
    // top: 370px;
  }  

  .testimonials__range,
  .testimonials__value,
  .testimonials__name,
  .testimonials__add {
    display: none;
  }
}
