@use 'sass:math';

%svg-common {
	background: url("../images/sprites/main.svg") no-repeat;
}

.svg-image-arrow-blue {
	@extend %svg-common;
	background-position: 36.76470588235294% 90.45801526717557%;
	background-size: math.div(720, 40)*100% auto;
	width: 40px;

}
@mixin svg-pos-image-arrow-blue {
	background-position: 36.76470588235294% 90.45801526717557%;
}
@mixin svg-image-arrow-blue-hover {
	.svg-image-arrow-blue {
		@include svg-pos-image-arrow-blue-hover
	}
}

.svg-image-arrow-blue:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(39, 40)*100%;
}

.svg-image-arrow-blue-dims {
	width: 40px;
	height: 39px;
}

.svg-image-arrow-down {
	@extend %svg-common;
	background-position: 41.31054131054131% 84.64285714285714%;
	background-size: math.div(720, 18)*100% auto;
	width: 18px;

}
@mixin svg-pos-image-arrow-down {
	background-position: 41.31054131054131% 84.64285714285714%;
}
@mixin svg-image-arrow-down-hover {
	.svg-image-arrow-down {
		@include svg-pos-image-arrow-down-hover
	}
}

.svg-image-arrow-down:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(21, 18)*100%;
}

.svg-image-arrow-down-dims {
	width: 18px;
	height: 21px;
}

.svg-image-header-logo {
	@extend %svg-common;
	background-position: 0 100%;
	background-size: math.div(720, 176)*100% auto;
	width: 176px;

}
@mixin svg-pos-image-header-logo {
	background-position: 0 100%;
}
@mixin svg-image-header-logo-hover {
	.svg-image-header-logo {
		@include svg-pos-image-header-logo-hover
	}
}

.svg-image-header-logo:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(64, 176)*100%;
}

.svg-image-header-logo-dims {
	width: 176px;
	height: 64px;
}

.svg-image-header-logo-black {
	@extend %svg-common;
	background-position: 0 0;
	background-size: math.div(720, 720)*100% auto;
	width: 720px;

}
@mixin svg-pos-image-header-logo-black {
	background-position: 0 0;
}
@mixin svg-image-header-logo-black-hover {
	.svg-image-header-logo-black {
		@include svg-pos-image-header-logo-black-hover
	}
}

.svg-image-header-logo-black:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(237, 720)*100%;
}

.svg-image-header-logo-black-dims {
	width: 720px;
	height: 237px;
}

.svg-image-quotes {
	@extend %svg-common;
	background-position: 27.24458204334365% 100%;
	background-size: math.div(720, 74)*100% auto;
	width: 74px;

}
@mixin svg-pos-image-quotes {
	background-position: 27.24458204334365% 100%;
}
@mixin svg-image-quotes-hover {
	.svg-image-quotes {
		@include svg-pos-image-quotes-hover
	}
}

.svg-image-quotes:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(64, 74)*100%;
}

.svg-image-quotes-dims {
	width: 74px;
	height: 64px;
}


.image-by-height { width:auto; }
.image-by-height:before { content:none; }
.image-by-height > svg { height: inherit; }
.image-by-height > img { height: inherit !important; vertical-align: top !important; margin: 0 !important; padding: 0 !important; max-width: none !important; max-height: none !important; border: 0 !important; opacity: 0 !important; }