.header {
  height: 90px;
  font-family: 'Oswald', sans-serif;
  transition: all 0.2s linear;

  & .container {
    max-width: 1400px;
  }
}

.fixed .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--color-white);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg-image-header-logo,
.svg-image-header-logo-black {
  width: 174px;
  height: auto;
}

.svg-image-header-logo-black {
  display: none;
}

.fixed .header {
  .svg-image-header-logo-black {
    display: block;
  }

  .svg-image-header-logo {
    display: none;
  }

  .header__link {
    color: var(--color-black);

    &.active {
      &.active {
        color: var(--color-white);
      }
    }
  }

  .header__appply {
    color: var(--color-white);
    background-color: var(--color-blue);
  }
}

.header__navbar {
  height: 90px;

  .header__list {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.header__link {
  height: 100%;
  padding: 28px 11px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: var(--color-white);

  &:last-child {
    margin: 0;
  }

  &.active {
    color: var(--color-white);
    background-color: var(--color-blue);
  }

  & a {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.header__appply {
  padding: 0;
  height: 56px;
  color: var(--color-blue);
  background-color: var(--color-white);
  border-radius: 3px;

  & a {
    display: block;
    padding: 16px 24px;
  }
}
